.container {
    position: relative;
    height: 560px;
    overflow: hidden;

    .background {
        opacity: 0.2;
        position: fixed;
    }

    .page {
        width: 100%;
        position: absolute;
        top: 0;

        .fixe {

            .return {
                margin-bottom: -30px;

                .button_return {
                    color: blue;
                    height: 22px;
                    border-radius: 11px;
                    border: 1px solid blue;
                    margin: 30px auto auto 30px;
                    scale: 3;
                }
            }

            .title {
                // background-color: green;
                text-align: center;
                margin: 0px auto 20px auto;
            }

            .options {
                // background-color: red;
                width: 40%;
                height: 60px;
                margin: 20px auto 20px auto;
                display: flex;
                gap: 100px;
                line-height: 0;

                .texte {
                    display: flex;
                    flex-direction: column;
                }

                .save {
                    // background-color: yellow;
                    color: blue;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // height: 100%;
                    // margin: auto;

                    .button {
                        color: blue;
                        height: 22px;
                        border-radius: 11px;
                        border: 1px solid blue;
                        margin: 20px auto auto 100px;
                        scale: 2;
                    }
                }
            }
        }

        .pool {
            background-color: white;
            position: relative;
            height: 350px;
            width: 80%;
            margin: 0px auto 20px auto;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            overflow: scroll;
        }
    }
}